<!-- REACT_APP_MARVEL_API_KEY=f66990bf045030b3fe9f720694db430a -->
REACT_APP_MARVEL_API_KEY=db3b82ddadf3b1ed43eaa13dcb87676f
REACT_APP_FIREBASE_API_KEY=AIzaSyDB8FkqQo_lHKORHhDjTkMpdgmBcZqyTiM
REACT_APP_FIREBASE_AUTH_DOMAIN=marvel-quiz-f534c.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://marvel-quiz-f534c.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=marvel-quiz-f534c
REACT_APP_FIREBASE_STORAGE_BUCKET=marvel-quiz-f534c.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=462058194446
REACT_APP_FIREBASE_APP_ID=1:462058194446:web:9cee6e20e8bbdcb49c9e5f